body {
    font-family: 'Source', Verdana, Arial, sans-serif;
    background-color: #dcd7c9;
    margin: 0
}


img {
    width: 300px;
    margin: 10px;
    padding-top: 10px;
}

nav {
    padding: 25px 15px 25px 25px;
    text-align: center;
    background-color: #3f4e4f;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;

}

a:hover {
    color: #a27b5c;
    text-decoration: underline;
}

#about-image {
    display: block;
    width: 35%;
   margin: auto auto;
}

.about-image {
    width: 100%;
    margin: 0;
}

#about-description {
    display: block;
}

#heading {
text-align: center;
font-size: 30px;
padding-top: 30px;
}

h1 {
    margin: 0;
    color: #a27b5c;


}
#container {
    padding-top: 20px;
}


#image-container {
    margin: 3rem;
    text-align: center;
  }
  #image {
    display: inline-block;
    vertical-align: middle;
  }

  #image-description {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 75%
  }

  #about-description {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
    letter-spacing: 2;
    /* line-spacing: 1.5; */
  }

